.form {
  background: url(../img/payment-fon.jpg) no-repeat 50%;
  background-size: cover;
  padding: 16px 0 32px;
  @media (min-width: 700px) {
    padding: 50px 0 100px;
  }

  &__wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .form__left {
      padding: 38px 0 17px 38px;
      background-color: #fff;
      border-radius: 5px 0 0 5px;
      width: 485px;
      .form__list {
        list-style: none;
        padding: 0;
        li {
          position: relative;
          font-size: 12px;
          list-style: 25px;
          line-height: 1.5;
          margin-bottom: 5px;
          margin-left: 30px;
          color: #000;
          padding-right: 20px;
          @media (min-width: 700px) {
            font-size: 15px;
            line-height: 1.5;
          }
        }
        li:before {
          content: "";
          position: absolute;
          top: 7px;
          left: -30px;
          width: 12px;
          height: 8px;
          background: url(../img/book_sale-indoor-list.png) no-repeat;
        }
      }
      .form__container-sale {
        display: flex;
        align-items: center;
        border-top: 1px solid #e3e6e8;
        margin-right: 42px;
        .form__sale-text {
          font-size: 13px;
          color: #aab7c5;
          width: 111px;
          margin-right: 32px;
          line-height: 1.5;
          @media (min-width: 700px) {
            width: 129px;
            margin-right: 86px;
            font-size: 15px;
          }
        }
        .form__rub {
          font-size: 18px;
          line-height: 18px;
          position: relative;
          @media (min-width: 700px) {
            font-size: 37px;
            line-height: 37px;
          }
        }
        .form__rub-m {
          font-size: 18px;
          line-height: 18px;
          position: relative;
          span {
            margin-right: 20px;
          }
        }
      }
    }

    .form__img {
      position: absolute;
      top: 0;
      left: 63px;
      width: 15px;
      @media (min-width: 700px) {
        top: 0;
        left: 124px;
        width: 30px;
      }
    }

    .form__img-m {
      position: absolute;
      top: 0;
      left: 50px;
    }

    .form__right {
      max-width: 485px;
      padding: 38px 36px 0 38px;
      background-color: #1c4459;
      border-radius: 0 5px 5px 0;
      @media (min-width: 700px) {
        padding: 38px 0 0 38px;
      }
      label {
        display: inline-block;
        margin-bottom: 5px;
      }
      .form__input {
        width: 206px;
        background: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        height: 50px;
        text-indent: 35px;
        color: #fff;
        outline: none;
        opacity: .7;
        @media (min-width: 700px) {
          width: 407px;
          height: 71px;
        }
      }
    }
  }
}

.form__name,
.form__email,
.form__company,
.form__phone{
  position: relative;
}

.form__company:before,
.form__email:before,
.form__phone:before,
.form__name:before {
  content: "";
  position: absolute;
  left: 0;
  top: 19px;
  width: 16px;
  height: 16px;
  opacity: .7;
  @media (min-width: 700px) {
    top: 26px;
  }
}

.form__name:before {
  background: url(../img/men_form.png) no-repeat;
}

.form__phone:before {
  background: url(../img/phone_form.png) no-repeat;
}

.form__email:before {
  background: url(../img/email_form.png) no-repeat;
}

.form__company:before {
  background: url(../img/compan_form.png) no-repeat;
}

.form__checkbox-label {
  position: relative;
  display: block;
  color: hsla(0,0%,100%,.5);
  margin: 10px 0;
  padding-left: 25px;
  text-align: left;
  line-height: 1.5;
  input {
    position: absolute;
    top: 6px;
    left: 0;
  }
}

.form__but {
  font-size: 18px;
  background-color: #81ba3c;
  border-radius: 5px;
  width: 85%;
  padding: 20px 0;
  border: none;
  color: #fff;
  text-transform: none;
  margin: 50px 15px 25px;
  cursor: pointer;
  outline: none;
  transition-duration: 1s;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,.2);
  @media (min-width: 700px) {
    margin: 50px 0 25px;
  }
}

.form__but:hover {
  background-color: #ff7f29;

}



.form__text {
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  opacity: .6;
  text-align: center;
  margin-top: 0;
  @media (min-width: 700px) {
    margin-left: -68px;
    font-size: 15px;
    line-height: 20px;
  }
}