/*Schedule
==========================*/

.schedule {
  background-color: #f6f5f1;
  padding: 17px 0 21px;
  @media (min-width: 700px) {
    padding: 45px 0 95px;
  }

  &__accordeon {
    width: 80%;
    margin: 10px auto;

    .schedule__acc-head {
      margin: 15px 0;
      padding: 10px 10px 5px;
      border: 2px solid #341f74;
      cursor: pointer;
      position: relative;
    }

    .down:after {
      content: "";
      display: block;
      position: absolute;
      top: 30px;
      right: 20px;
      width: 13px;
      height: 9px;
      background: url(../img/list-arrow-new_2.png) no-repeat;
      @media (min-width: 700px) {
        top: 50px;
        right: 35px;
      }
    }

    .up:after {
      transform: rotate(180deg);
      content: "";
      display: block;
      position: absolute;
      top: 30px;
      right: 20px;
      width: 13px;
      height: 9px;
      background: url(../img/list-arrow-new_2.png) no-repeat;
      @media (min-width: 700px) {
        top: 50px;
        right: 35px;
      }
    }

    .schedule__acc-body {
      padding: 10px;
      margin-bottom: 5px;
      display: none;
    }
  }

  &__title {
    font-family: OpenSansBold, Arial, sans-serif;
    font-size: 15px;
    padding-left: 35px;
    margin-top: 10px;
    @media (min-width: 700px) {
      font-size: 30px;
      padding-left: 70px;
    }
  }

  &__category {
    padding-top: 10px;
    padding-left: 35px;
    @media (min-width: 700px) {
      padding-left: 70px;
    }
  }
}





